* {
  box-sizing: border-box;
  outline: none;
}

/* css reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* include external fonts */

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Light.eot");
  src: url("./fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Raleway-Light.woff2") format("woff2"),
    url("./fonts/Raleway-Light.woff") format("woff"),
    url("./fonts/Raleway-Light.ttf") format("truetype"),
    url("./fonts/Raleway-Light.svg#./fonts/Raleway-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Medium.eot");
  src: url("./fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Raleway-Medium.woff2") format("woff2"),
    url("./fonts/Raleway-Medium.woff") format("woff"),
    url("./fonts/Raleway-Medium.ttf") format("truetype"),
    url("./fonts/Raleway-Medium.svg#./fonts/Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-MediumItalic.eot");
  src: url("./fonts/Raleway-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("./fonts/Raleway-MediumItalic.woff") format("woff"),
    url("./fonts/Raleway-MediumItalic.ttf") format("truetype"),
    url("./fonts/Raleway-MediumItalic.svg#./fonts/Raleway-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-LightItalic.eot");
  src: url("./fonts/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("./fonts/Raleway-LightItalic.woff") format("woff"),
    url("./fonts/Raleway-LightItalic.ttf") format("truetype"),
    url("./fonts/Raleway-LightItalic.svg#./fonts/Raleway-LightItalic")
      format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-BoldItalic.eot");
  src: url("./fonts/PlayfairDisplay-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-BoldItalic.woff") format("woff"),
    url("./fonts/PlayfairDisplay-BoldItalic.ttf") format("truetype"),
    url("./fonts/PlayfairDisplay-BoldItalic.svg#./fonts/PlayfairDisplay-BoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Italic.eot");
  src: url("./fonts/PlayfairDisplay-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("./fonts/PlayfairDisplay-Italic.ttf") format("truetype"),
    url("./fonts/PlayfairDisplay-Italic.svg#./fonts/PlayfairDisplay-Italic")
      format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Bold.eot");
  src: url("./fonts/PlayfairDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("./fonts/PlayfairDisplay-Bold.ttf") format("truetype"),
    url("./fonts/PlayfairDisplay-Bold.svg#./fonts/PlayfairDisplay-Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/PlayfairDisplay-Regular.eot");
  src: url("./fonts/PlayfairDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
    url("./fonts/PlayfairDisplay-Regular.svg#./fonts/PlayfairDisplay-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Start of main CSS */

html {
  font-size: 16px;
}

header {
  width: 100%;
  background-color: white;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  line-height: 1;
}

h2 {
  font-size: 2.4rem;
  font-style: italic;
  margin-bottom: 1.5rem;
}

/* p {
  font-family: "Playfair Display", serif;
} */

/* set font and color for nav links */
.nav a {
  text-decoration: none;
  color: #e2574c;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
}

.nav a:hover {
  color: #b64036;
}

li {
  display: inline-block;
}

.social li a:hover {
  color: #b64036;
}

.grid-text a {
  color: #fff;
  text-decoration: none;
}

.grid-text a:hover {
  color: #f5edc4;
}

/* Continer class used in all sections and to set max width */
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 2%;
}

/* First section flower background with girl and gradient */
#cover-photo {
  width: 100%;
  height: 400px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url("images/banner-girl.png") bottom center no-repeat,
    url("images/flower-bkgd.jpg") repeat-x top;
  background-size: cover, 150px 370px, cover;
  display: block;
  background-position-y: 0, 60px, 0;
}

/* Second section of page */
#summary {
  width: 100%;
  height: 266px;
  background-color: white;
}

/* Third section belowm on line 460 - 560 */

/* Fourth section with JS carosel */
#catalog {
  width: 100%;
  /* height: 250px; */
  background-color: white;
  margin-bottom: 50px;
}

/* Fifth Section with wave background */
#update {
  width: 100%;
  height: 365px;
  background: url("images/wave-bkgd.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 8px;
  padding: 4rem 0;
  display: block;
}

/* Nav class for top of page navagation */
.nav {
  margin: 0 auto;
  padding: 20px;
  width: auto;
  height: 100px;
  grid-area: c;
  border-top: 1px solid #d7d7d7;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: -50px;
}

.nav li {
  display: inline;
  padding-right: 15px;
}

/* grid for header nav and icons */
.head {
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  justify-content: space-between;
  padding-bottom: 0px;
  padding-top: 13px;
}

/* aloha icon */
.top-left {
  grid-area: a;
  margin-bottom: 7px;
}

/* cart icon */
.top-right {
  grid-area: b;
  text-align: right;
}

.big {
  font-style: normal;
  font-weight: 700;
}

.girl-box {
  padding-top: 140px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* white text on-top of banner girl */
.girl-text {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  /* position: absolute; */
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
  font-size: 3.75rem;
  z-index: 1;
}

.season {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 2.1rem;
}

.new-collection {
  font-family: "Raleway";
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

.about {
  font-size: 1.15rem;
  position: relative;
  top: 50px;
  color: #2d2d2d;
}

input[type="email"] {
  padding: 0.5rem 1.75rem;
  padding-right: 150px;
  width: 100%;
  border-radius: 25px;
}

.subscribe-form {
  display: block;
  margin: 2rem auto 0;
  position: relative;
  width: 75%;
  font-family: "Raleway", sans-serif;
  line-height: 2;
}

.subscribe-form #your-email {
  height: 3rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
}

.sub-button {
  background-color: #e2574c;
  color: white;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 122px;
  height: 43px;
  border-radius: 25px;
  font-size: 1rem;
}

.update p {
  font-family: "Raleway";
  letter-spacing: 0.05rem;
  font-weight: 300;
  line-height: 2;
}

.about p {
  color: #2d2d2d;
  font-family: "Raleway";
  font-size: 1.15rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
  line-height: 2;
}

.shadow {
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
}

/* Initalization of grid for third section, 6 boxes in total */
.catagoties {
  display: grid;
  grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f f";
  height: 120vh;
  grid-gap: 8px;
  font-size: 1.6rem;
}

/* 1st of the 6 grid boxes */
.mens {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/mens-category.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: a;
  background-size: cover, cover;
}

/* box 2 */
.trends {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/trends-category.jpg);
  /* grid-area: 2 / 1 ; */
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
  /* grid-row: 2; */
  background-size: cover, cover;
}

/* box 3 */
.glasses {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/glasses-category.jpg);
  grid-area: c;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover, cover;
}

/* box 4 */
.sale {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/sale-category.jpg);
  grid-area: d;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover, cover;
}

/* box 5 */
.bags {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/bags-category.jpg);
  grid-area: e;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover, cover;
}
/* box 5 */
.womens {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.25) 0,
      rgba(0, 0, 0, 0.25)
    ),
    url(images/womens-category.jpg);
  background-size: cover, cover;
  grid-area: f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-text {
  color: white;
}

.orange-text {
  color: rgb(226, 87, 76);
}

/* different attemts to center things */

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* should center text */
.center-text {
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.top-carousel h2,
span {
  text-align: center;
  font-size: 2rem;
}

.carousel-cell h3 {
  color: #e2574c;
  font-family: "Playfair Display", serif;
  /* font-size: 1.5rem; */
  margin-bottom: 1rem;
  text-align: center;
}

.product-type {
  margin-bottom: 0.75rem;
}

.carousel-cell p {
  color: #969696;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 0.5rem;
}

.carousel-cell {
  margin-left: 50vw;
}

.carousel-image {
  height: auto;
  width: 50vw;
}

/* cell number */
footer {
  width: 100%;
  height: 300px;
  background-color: rgb(36, 36, 36);
}

/* turns off writing beside logos for mobile view */
.social-words {
  display: none;
  font-size: 1rem;
}

/* flexbox for footer div */
.foot-flexy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  padding: 4rem 0;
  font-family: "Playfair Display", serif;
}

.bottom-left {
  text-align: center;
  line-height: 1.5;
  margin-top: 10px;
}

.social {
  text-align: center;
  line-height: 1.5;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.social li a {
  text-decoration: none;
}

.resize {
  width: 50%;
  max-width: 100px;
  height: 50%;
  max-height: 300px;
}

.copyright {
  margin-bottom: 1rem;
}

.contact {
  margin-bottom: 1rem;
}

.contact a {
  color: white;
}

.contact a:hover {
  color: #b64036;
}

.contact p {
  display: inline;
}

.address {
  margin-bottom: 1rem;
  color: #969696;
}

/* Display for screen when wider than 600px (bigger than mobile) */
@media screen and (min-width: 600px) {
  .nav {
    margin: 0 auto;
    padding: 20px;
    width: auto;
    height: 100px;
    border-top: none;
    display: inline-block;
    margin-bottom: -50px;
  }

  .head {
    display: flex;
    padding-top: 13px;
    padding-bottom: 10px;
  }

  .top-left {
    align-self: flex-start;
  }

  .top-right {
    align-self: right;
  }

  .logo {
    display: inline-block;
  }

  .season {
    font-size: 3rem;
  }
  .about {
    max-width: 720px;
  }

  .top-carousel h2,
  span {
    font-size: 2.5rem;
  }

  .subscribe-form {
    width: 67%;
  }

  .foot-flexy {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1240px;
  }

  .bottom-left {
    text-align: left;
    line-height: 1.5;
    padding-left: 20px;
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    line-height: 2;
    padding-right: 2rem;
  }

  .social li {
    text-align: left;
  }

  .social-words {
    display: inline-block;
    text-align: right;
  }

  .catagoties {
    display: grid;

    /* sets grid area for sectrion three with grid boxes  */
    grid-template-areas:
      "a a b c"
      "d e f f";
    height: 363px;
    grid-gap: 8px;
  }

  .mens {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.25)
      ),
      url(images/mens-category.jpg);

    grid-area: a;
    background-size: cover, cover;
    width: 100%;
  }

  .trends {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.25)
      ),
      url(images/trends-category.jpg);
    grid-area: b;
    background-size: cover, cover;
  }

  .glasses {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.25)
      ),
      url(images/glasses-category.jpg);
    grid-area: c;
    background-size: cover, cover;
  }

  .sale {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.25)
      ),
      url(images/sale-category.jpg);
    grid-area: d;
    background-size: cover, cover;
  }

  .bags {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.25)
      ),
      url(images/bags-category.jpg);
    grid-area: e;
    background-size: cover, cover;
  }

  .womens {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0,
        rgba(0, 0, 0, 0.25)
      ),
      url(images/womens-category.jpg);
    background-size: cover, cover;
    grid-area: f;
  }
}
